.settings-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.settings-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  text-align: center;
  align-items: baseline;
  font-size: 0.9rem;
  color: var(--ion-color-medium);
  padding: 12px 16px;
  padding-top: 80%;
}
