<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favoritos">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{ t('TABS.FAVORITES') }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{ t('TABS.EXPLORE') }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajustes">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ t('TABS.SETTINGS') }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
