<ion-header>
  <ion-toolbar>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Buscar personaje..."
      (ionInput)="buscar($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let p of personajesFiltrados">
      
      <img [src]="p.imagen" alt="{{ p.nombre }}" />

      <ion-card-header>
        <ion-card-title>{{ p.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          Tipo: <strong>{{ p.afiliacion }}</strong><br />
          Universo: <strong>{{ p.universo }}</strong>
        </p>
      </ion-card-content>

    </ion-card>
  </ion-list>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando más personajes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
