<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ t('HOME.TITLE') }}
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
      <!-- Barra de Busqueda -->
    <ion-searchbar
      [placeholder]="t('HOME.SEARCH_PLACEHOLDER')"
      [attr.aria-label]="t('HOME.SEARCH_PLACEHOLDER')"
      debounce="300"
      (ionInput)="buscar($event)">
    </ion-searchbar>

      <!-- Botón para abrir los filtros -->
    <ion-buttons slot="end">
      <ion-button (click)="abrirSelectFiltros()" [attr.aria-label]="t('HOME.FILTERS')" role="button">
        <ion-icon slot="icon-only" name="filter-outline" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- División para mostrar filtros seleccionados en el momento -->
  <div *ngIf="mostrarFiltrosActivos()" class="filtros-activos" [attr.aria-label]="t('HOME.UNIVERSE') + ': ' + filtroUniverso">
    <ion-chip *ngIf="filtroUniverso">
      {{ filtroUniverso }}
      <ion-icon name="close" (click)="quitarFiltro('universo', filtroUniverso)" aria-label="Quitar filtro"></ion-icon>
    </ion-chip>

    <ion-chip *ngIf="filtroAfiliacion">
      {{ filtroAfiliacion }}
      <ion-icon name="close" (click)="quitarFiltro('afiliacion', filtroAfiliacion)"></ion-icon>
    </ion-chip>

    <ion-chip *ngFor="let et of filtroEtiquetas">
      {{ et }}
      <ion-icon name="close" (click)="quitarFiltro('etiqueta', et)"></ion-icon>
    </ion-chip>

    <ion-chip *ngIf="ordenNombre">
      {{ ordenNombre }}
      <ion-icon name="close" (click)="quitarFiltro('orden', ordenNombre)"></ion-icon>
    </ion-chip>
  </div>

  <!-- Selección de filtros por medio de botón de filtros -->
  <ion-item style="display: none;">
    <ion-select #selectFiltros interface="popover" (ionChange)="aplicarFiltro($event)">

      <!-- Filtro según universo -->
      <ion-select-option value="universo:Marvel">{{ t('HOME.FILTER_UNIVERSE_MARVEL') }}</ion-select-option>
      <ion-select-option value="universo:DC">{{ t('HOME.FILTER_UNIVERSE_DC') }}</ion-select-option>

      <!-- Filtro según afiliación -->
      <ion-select-option value="afiliacion:Heroe">{{ t('HOME.FILTER_AFFILIATION_HERO') }}</ion-select-option>
      <ion-select-option value="afiliacion:Villano">{{ t('HOME.FILTER_AFFILIATION_VILLAIN') }}</ion-select-option>

      <!-- Filtro según ordenamiento alfabetico -->
      <ion-select-option value="orden:A-Z">{{ t('HOME.FILTER_ORDER_AZ') }}</ion-select-option>
      <ion-select-option value="orden:Z-A">{{ t('HOME.FILTER_ORDER_ZA') }}</ion-select-option>

      <!-- Limpieza de todos los filtros -->
      <ion-select-option value="Limpiar">{{ t('HOME.FILTER_CLEAR') }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<!-- ACORDEÓN DE ETIQUETAS -->
<div class="filtro-acordeon-wrapper">
  <ion-accordion-group expand="inset">
    <ion-accordion value="etiquetas">

      <ion-item slot="header">
        <ion-label>{{ t('HOME.LABEL') }}</ion-label>
      </ion-item>

      <div slot="content" class="etiquetas-grid">
        <ion-item class="etiqueta-item" *ngFor="let etiqueta of etiquetasDisponibles">
          <ion-label>{{ t('ETIQUETAS.' + etiqueta) }}</ion-label>
          <ion-checkbox
          slot="end"
          [checked]="filtroEtiquetas.includes(etiqueta)"
          (ionChange)="toggleEtiqueta(etiqueta)">
        </ion-checkbox>
      </ion-item>
    </div>

    </ion-accordion>
  </ion-accordion-group>
</div>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Listado de tarjetas para cada personaje -->
    <ion-card
    *ngFor="let p of personajesFiltrados"
    (click)="expandirCard(p)"
    [ngClass]="p.universo === 'Marvel' ? 'marvel-card' : 'dc-card'">
    
    <ion-button 
    fill="clear" 
    class=" btn-fav-card" 
    (click)="toggleFavorito(p); $event.stopPropagation();">
      <ion-icon [name]="esFavorito(p) ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>

      <img class="personaje-img" [src]="p.imagen" alt="{{ p.nombre }}" loading="lazy"/>

      <ion-card-header>
        <ion-card-title>{{ p.nombre }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>{{ t('HOME.TYPE') }}: </strong>{{ p.afiliacion }}</p>
        <p><strong>{{ t('HOME.UNIVERSE') }}: </strong>{{ p.universo }}</p>
        <p><strong>{{ t('HOME.LABEL') }}: </strong></p>
        <div class="etiquetas-wrapper">
          <span [ngClass]="p.universo === 'Marvel' ? 'marvel-tag' : 'dc-tag'" *ngFor="let tag of (p.etiquetas || '').toString().split(',')">
            {{ t('ETIQUETAS.' + tag.trim()) }}
          </span>
        </div>
      </ion-card-content>

    </ion-card>
  </ion-list>

  <!-- Infinite Scroll para toda la pagina -->
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content 
      loadingSpinner="crescent"
      [loadingText]="t('HOME.LOADING')"
      [attr.aria-label]="t('HOME.LOADING')"> 
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


<!-- CARD EXPANDIDA FULLSCREEN -->
<div *ngIf="personajeExpandido" class="expandido-overlay">

  <div class="expandido-card">

    <!-- Botón cerrar -->
    <ion-button fill="clear" class="cerrar-btn" (click)="cerrarExpandido()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>

    <!-- Botón favoritos -->
    <ion-button 
      fill="clear" 
      class="btn-fav-card expandido-btn-fav"
      (click)="toggleFavorito(personajeExpandido); $event.stopPropagation();"
      [ngClass]="{'activo': esFavorito(personajeExpandido)}">
      <ion-icon [name]="esFavorito(personajeExpandido) ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>
    
    <!-- Título -->
    <h1 class="titulo-seccion">{{ t('HOME.DETAILS') }}</h1>

    <!-- Imagen en alta -->
    <img class="expandido-img" [src]="personajeExpandido.imagen" loading="lazy"/>

    <!-- Nombre -->
    <h1>{{ personajeExpandido.nombre }}</h1>
 
    <!-- Biografía -->
    <p><strong>{{ t('HOME.BIBLIOGRAPHY') }}: </strong>{{ t('BIOGRAFIA.' + personajeExpandido.id) }}</p>

    <!-- Poderes (Etiquetas) -->
    <p><strong>{{ t('HOME.POWERS') }}: </strong></p>
    <div class="tags">
      <span class="tag" *ngFor="let etiq of personajeExpandido.etiquetas">
        {{ t('ETIQUETAS.' + etiq) }}
      </span>
    </div>

    <!-- Debilidades -->
    <p><strong>{{ t('HOME.WEAKNESSES') }}: </strong></p>
    <div class="tags">
      <span class="tag" *ngFor="let d of personajeExpandido.debilidades">
        {{ t('DEBILIDADES.'+ d) }}
      </span>
    </div>

    <!-- Primera aparición -->
    <p><strong>{{ t('HOME.FIRSTAPPAEARANCE') }}: </strong> {{ personajeExpandido.primeraAparicion }}</p>

    <!-- Universo -->
    <p><strong>{{ t('HOME.UNIVERSE') }}: </strong> {{ personajeExpandido.universo }}</p>

    <!-- MÉTRICAS -->
    <h1 class="titulo-seccion">{{ t('HOME.METRICS') }}</h1>

    <div class="metricas">

      <!-- Fuerza -->
      <div class="metrica">
        <div class="metrica-header">
          <label>{{ t('METRICAS.FUERZA') }}</label>
          <span class="valor">{{ personajeExpandido.estadisticasPoder.fuerza }}</span>
        </div>
        <div class="barra">
          <div
            [ngClass]="personajeExpandido.universo === 'Marvel' ? 'marvel-relleno' : 'dc-relleno'"
            [style.width.%]="personajeExpandido.estadisticasPoder.fuerza">
          </div>
        </div>
      </div>

      <!-- Velocidad -->
      <div class="metrica">
        <div class="metrica-header">
          <label>{{ t('METRICAS.VELOCIDAD') }}</label>
          <span class="valor">{{ personajeExpandido.estadisticasPoder.velocidad }}</span>
        </div>
        <div class="barra">
          <div
            [ngClass]="personajeExpandido.universo === 'Marvel' ? 'marvel-relleno' : 'dc-relleno'"
            [style.width.%]="personajeExpandido.estadisticasPoder.velocidad">
          </div>
        </div>
      </div>

      <!-- Inteligencia -->
      <div class="metrica">
        <div class="metrica-header">
          <label>{{ t('METRICAS.INTELIGENCIA') }}</label>
          <span class="valor">{{ personajeExpandido.estadisticasPoder.inteligencia }}</span>
        </div>
        <div class="barra">
          <div
            [ngClass]="personajeExpandido.universo === 'Marvel' ? 'marvel-relleno' : 'dc-relleno'"
            [style.width.%]="personajeExpandido.estadisticasPoder.inteligencia">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
